{% include header.html %}

    <main role="main">
        
        {{content}}
        
        <nav class="pagination cf">
            {% if paginator.previous_page %}
            <a class="prev" href="{{ paginator.previous_page_path }}">‹‹ Newer</a>
            {% endif %}
            {% if paginator.next_page %}
            <a class="next" href="{{ paginator.next_page_path }}">Older ››</a>
            {% endif %}
        </nav>
        
    </main>

    </div><!-- .site -->

{% include footer.html %}